/* FONT */
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-ExtraLight.ttf);
    font-weight: 200;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

.font-regular {
    font-weight: 400;
}

.font-light {
    font-weight: 300;
}

.font-extra-light {
    font-weight: 200;
}

.font-size-big {
    font-size: 2rem;
}

/* HERO */
#hero {
    position: relative;
}

.hero-download button {
    width: 100%;
    background-color: #4CB050;
    border: none;
    color: white;
    padding: .5rem 0;
}

.hero-tour button {
    width: 100%;
    background-color: black;
    border: none;
    color: white;
    padding: .5rem 0;
}

/* PADDING GENERAL */
#app,
#clarity,
#pricing {
    padding: 0 1rem;
}

/* APP */
#app {
    padding-top: 3rem;
}

#app h1 span {
    display: block;
    color: #4CB050;
    margin-bottom: .5rem;
}

#app p:nth-child(3) {
    margin: 1rem 0;
}

#app .fa-brands:nth-child(1) {
    color: #4CB050;
}

#app .fa-brands:nth-child(2) {
    color: #010002;
}

#app .fa-brands:nth-child(3) {
    color: #2196F3;
}

#app button {
    display: block;
    margin: 0 auto 1rem;
    border: none;
    background-color: white;
}

.app-preview {
    margin: 0 1rem;
}

/* CLARITY */

#clarity h2 span {
    display: block;
    color: #F34335;
    margin-bottom: .5rem;
}

.clarity-img {
    display: none;
}

#clarity {
    background-color: #F1F1F1;
    margin-top: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* FEATURES */
#features {
    background-color: #616161;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    padding: 3rem 0;
    color: white;
}

#features div {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/* PRICING */ 
#pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 2rem;
 
}

.pricing-basic, .pricing-premium{
    background-color: #F1F1F1;
    width: 100%;  
}

/* FOOTER */
footer{
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0
}




/* MEDIA QUERIES*/

/* Mobile */
@media (min-width: 320px) {}

/* Tablet */
@media (min-width: 768px) {}

/* Desktop */
@media (min-width: 1024px) {}